<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Todo List</title>
    <link rel="stylesheet" href="../style.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


  </head>
  <body>
    <header class="nav-header">
        <div class="nav-div">
          <a href="../index.html">Liste de bières</a>
          <a href="controls.html">Ajouter une bière</a>
          <a href="charts.html">Voir les stats</a>
        </div>
      </header>
      <div style="width: 40vw;">
        <canvas id="myChart"></canvas>
      </div>
       
      <script src="../scripts/charts.js"></script>
      </body>
</html>
